@(message: String,sistema: Sistema)

@main("Home Page") {

	<div class="navbar navbar-inverse navbar-fixed-top">
		
        <h3>
        <span class="label label-primary">Bem Vindo(a)! @session.get("user")</span>
        <a href="/logout" class="btn btn-primary pull-right" > LogOut</a>
    	<a class="btn btn-primary pull-right">Minha Conta</a>
        </h3>
    </div>
    <br><br>
	<center><img class="centralizar" src="@routes.Assets.at("images/logo.png")" /> </center>
        <ul class="nav nav-pills">
          <li class="active"><a href="/"">Home</a></li>
          <li><a href="/cadastro">Cadastrar um novo Hackfest</a></li>
          
        </ul>	
        <div class="container form-horizontal panel panel-primary text-info" >
        
       
		<center><h2><b>Sistema de Hackfests</b></h2></center>
		<h4>Esse sistema lhe ajudar&aacute; a promover Hackfests de tecnologias e temas que sejam interessantes. 
		<br> <br>  Um hackfest (ou hackathon) &eacute; um evento de programadores interessados em um tema ou tecnologia, que se re&uacute;nem e constroem algo no tema durante um dia.       
        <br> <br> Participe! Essas s&atilde;o &oacute;timas oportunidades para aprender novas tecnologias e desenvolver o seu Network!    
        </h4>
        </div>      
        
        @eventos(sistema, "Engenharia de Software")
        @eventos(sistema, "Sistemas da Informacao")
        @eventos(sistema, "Banco de Dados")
        @eventos(sistema, "Computacao Desplugada")
        @eventos(sistema, "Desenvolvimento para Web")
}