@(form: Form[Usuario])

	


@main("Login Page") {

	 <center><img class="centralizar" src="@routes.Assets.at("images/logo.png")" /> </center>
     <ul class="nav nav-pills">
	<div class="col-lg-4"></div>
   <div class="col-lg-4 container form-horizontal panel panel-primary text-info">
   @if(flash.contains("fail")) {
   		<p class="bg-danger" style="">
        	@flash.get("fail")
		</p>
   }
   
   @helper.form(routes.Login.authenticate) {
	   <h1 class="text-center">LogIn</h1>
       <p>
	       <input type="email" name="email" placeholder="Email" value='@form("email").value'
                  class="form-control">
       </p>
       <p>
	       <input type="password" name="pass" placeholder="Password" class="form-control">
       </p>
       <center>
	       <button class="btn btn-primary" type="submit">Login</button>
	       <!--<a class="btn btn-info" style="float:right;" href="/registrar"> Registrar</a>  -->
	       <br>
			<a  class="mlm_58" href="/registrar">Ainda n&atilde;o tem uma conta?</a>
       </center>
	}
    </div>
}
	