@(form: Form[Usuario])
<!-- 
	 	 <center><img class="centralizar" src="@routes.Assets.at("images/logo.png")" /> </center>
        <ul class="nav nav-pills">
          <!--  <li ><a href="/""> In&iacute;cio</a></li>
          <li class="active"><a href="/login">Login</a></li>
          <li><a href="/cadastro">Cadastrar um novo Hackfest</a></li>
          -->
 <!--   
        </ul>
        <div class="col-lg-4"></div>	
        <div class="col-lg-4 container form-horizontal panel panel-primary text-info" >
        
       
		<center><h2><b>Sistema de Hackfests</b></h2></center>
		<center><h3><b>Login</b></h3></center>
		<center><form action="logar" method="post">
		<input class="input-xxlarge" type="text" size="30" maxlength="30" placeholder="Insira o seu nome" name="nome"><br>
		<br>
		<input class="input-xxlarge" type="password" size="30" maxlength="30" placeholder="Senha" name="senha"><br>
		<br>
		<input type="submit" class="btn btn-primary" value="Login"><br>
		<br>
		<a  class="mlm_58" href="/signup">Ainda n&atilde;o tem uma conta?</a>
		</form></center>
        </div>      
        
-->	
	


@main("Login Page") {

	 <center><img class="centralizar" src="@routes.Assets.at("images/logo.png")" /> </center>
     <ul class="nav nav-pills">
	<div class="col-lg-4"></div>
   <div class="col-lg-4 container form-horizontal panel panel-primary text-info">
   @if(flash.contains("fail")) {
   		<p class="bg-danger" style="">
        	@flash.get("fail")
		</p>
   }
   
   @helper.form(routes.Login.authenticate) {
	   <h1 class="text-center">LogIn</h1>
       <p>
	       <input type="email" name="email" placeholder="Email" value='@form("email").value'
                  class="form-control">
       </p>
       <p>
	       <input type="password" name="pass" placeholder="Password" class="form-control">
       </p>
       <center>
	       <button class="btn btn-primary" type="submit">Login</button>
	       <!--<a class="btn btn-info" style="float:right;" href="/registrar"> Registrar</a>  -->
	       <br>
			<a  class="mlm_58" href="/registrar">Ainda n&atilde;o tem uma conta?</a>
       </center>
	}
    </div>
}
	