<!DOCTYPE html>
<html>
	<head>
		<title>Sistema de Hackfests</title>
		<meta charset="utf-8">
		<link href="@routes.Assets.at("css/bootstrap.min.css")" rel="stylesheet" media="screen">
		<link rel="stylesheet" media="screen"
		href="@routes.Assets.at("stylesheets/main.css")">
		<link rel="shortcut icon" type="image/png"
		href="@routes.Assets.at("images/favicon.png")">
		<script
		src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")"
		type="text/javascript">
		</script>
		
	</head>
	<body>	
	 	 <center><img class="centralizar" src="@routes.Assets.at("images/logo.png")" /> </center>
        <ul class="nav nav-pills">
          <li ><a href="/""> In&iacute;cio</a></li>
          <li class="active"><a href="/login">Login</a></li>
          <li><a href="/cadastro">Cadastrar um novo Hackfest</a></li>
          
          
        </ul>
        <div class="col-lg-4"></div>	
        <div class="col-lg-4 container form-horizontal panel panel-primary text-info" >
        
       
		<center><h2><b>Sistema de Hackfests</b></h2></center>
		<center><h3><b>Sign Up</b></h3></center>
		<center><form action = "/cadastrarUsuario" metod = "post" >
		<input class="input-xxlarge" type="text" size="30" maxlength="30" placeholder="Insira o seu nome" name="nome"><br>
		<br>
		<input class="input-xxlarge" type="e-mail" size="30" maxlength="30" placeholder="Insira o Seu e-mail" name="email"><br>
		<br>
		<input class="input-xxlarge" type="password" size="30" maxlength="30" placeholder="Insira o Sua senha" name="password"><br>
		<br>
		<input class="input-xxlarge" type="password" size="30" maxlength="30" placeholder="Reinsira o Sua senha" name="password2"><br>
		<br>
		<input type="submit" class="btn btn-primary" value="Sign Up"><br>
		<br>
		</form></center>
        </div>      
        
		
	</body>
</html>